/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Cairo:wght@200..1000&family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CO+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Tsukimi+Rounded&family=Young+Serif&display=swap");

/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

/* Map */
#map {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Aside */
aside {
  position: fixed;
  left: 20px;
  top: 30px;
  z-index: 99999;
  color: white;
  background-color: rgba(53, 53, 53, 0.7);
  width: 260px;
  height: 90vh;
  border-radius: 10px;
  overflow-x: hidden;
  transition: all 0.2s;

  .head {
    font-family: "Indie Flower", cursive;
    text-align: center;
    background-color: rgba(53, 53, 53);
    border-radius: 10px;
    padding: 5px;
    margin: 20px 20px 0 20px;
    color: white;
    letter-spacing: 3px;
  }

  form {
    display: none;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
    padding: 20px;

    .field {
      display: flex;
      flex-direction: column;
      gap: 6px;

      input,
      select {
        padding: 5px;
        border-radius: 5px;
      }
    }

    .buttons {
      display: flex;
      gap: 10px;

      button {
        flex: 1;
        cursor: pointer;
        padding: 8px;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-weight: 600;
        transition: all 0.2s;
      }

      button:hover {
        filter: brightness(60%);
      }

      button:first-child {
        background-color: rgb(227, 175, 175);
      }
    }
  }
}

aside:hover {
  background-color: rgba(53, 53, 53);
}

/** List */

ul {
  padding: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  overflow: auto !important;

  li {
    background-color: #575757;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    p:first-child {
      font-family: "Indie Flower", cursive;
      font-size: 20px;
      letter-spacing: 2px;
    }

    .icons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: all 0.3s;

      i {
        cursor: pointer;
        font-size: 20px;
      }

      #fly-btn:hover {
        color: aqua;
      }

      #delete-btn:hover {
        color: rgb(255, 0, 85);
      }
    }
    .icons i:hover {
      scale: 1.1;
    }
  }
}

/** Dynamic Class */
.add {
  height: 500px;
}

.add form {
  display: flex;
}

.add ul {
  display: none;
}
